<serverSettings>
    <socketAddresses>
        <socket address="127.0.0.1" port="3101" type="TCP"/>
        <!--port server-server-->
        <socket address="127.0.0.1" port="3102" type="TCP"/>
    </socketAddresses>
    <ipFilter>
        <addressBlackList>
            <string>100.101.102.103</string>
        </addressBlackList>
        <addressWhiteList>
            <string>192.168.0.16</string>
        </addressWhiteList>
        <maxConnectionsPerAddress>9999999</maxConnectionsPerAddress>
    </ipFilter>
    <flashCrossdomainPolicy>
        <useMasterSocketPolicy>true</useMasterSocketPolicy>
        <policyXmlFile>crossdomain.xml</policyXmlFile>
    </flashCrossdomainPolicy>
    <systemControllerThreadPoolSize>2</systemControllerThreadPoolSize>
    <extensionControllerThreadPoolSize>2</extensionControllerThreadPoolSize>
    <systemControllerRequestQueueSize>20000</systemControllerRequestQueueSize>
    <extensionControllerRequestQueueSize>20000</extensionControllerRequestQueueSize>
    <schedulerThreadPoolSize>3</schedulerThreadPoolSize>
    <protocolCompressionThreshold>1024</protocolCompressionThreshold>
    <protocolMode>BINARY</protocolMode>
    <remoteAdmin>
        <administrators>
            <adminUser>
                <login>admin</login>
                <password>123456</password>
            </adminUser>
            <adminUser>
                <login>gmtool</login>
                <password>root</password>
            </adminUser>
        </administrators>
        <allowedRemoteAddresses>
        </allowedRemoteAddresses>
        <adminTcpPort>1102</adminTcpPort>
    </remoteAdmin>
    <bannedUserManager>
        <isAutoRemove>true</isAutoRemove>
        <isPersistent>true</isPersistent>
        <customPersistenceClass></customPersistenceClass>
    </bannedUserManager>
    <extensionRemoteDebug>false</extensionRemoteDebug>
    <useFriendlyExceptions>false</useFriendlyExceptions>
    <mailer>
        <mailHost>stater@vng.com.vn</mailHost>
        <mailUser>stater</mailUser>
        <mailPass>stater</mailPass>
        <smtpPort>25</smtpPort>
        <workerThreads>1</workerThreads>
    </mailer>
    <webServer>
        <isActive>true</isActive>
        <cfgFile>config/jetty/jetty.xml</cfgFile>
    </webServer>
    <startExtensionFileMonitor>false</startExtensionFileMonitor>
    <useFriendlyLogging>true</useFriendlyLogging>
    <useDebugMode>true</useDebugMode>
    <sessionMaxIdleTime>300</sessionMaxIdleTime>
    <userReconnectionSeconds>0</userReconnectionSeconds>
    <userMaxIdleTime>300</userMaxIdleTime>
    <ghostHunterEnabled>true</ghostHunterEnabled>
    <admin>
        <login>toantn</login>
        <password>nobita</password>
    </admin>
    <webSocket>
        <isActive>true</isActive>
        <bindAddress>127.0.0.1</bindAddress>
        <tcpPort>8081</tcpPort>
        <sslPort>8081</sslPort>
        <validDomains/>
        <isSSL>true</isSSL>
        <isUsingFixThreadPool>true</isUsingFixThreadPool>
        <keyStoreFile>config/keystore.jks</keyStoreFile>
        <keyStorePassword>zingplaysea</keyStorePassword>
    </webSocket>
    <systemThreadPoolSettings>
        <name>Sys</name>
        <coreThreads>4</coreThreads>
        <backupThreads>8</backupThreads>
        <maxBackups>16</maxBackups>
        <queueSizeTriggeringBackup>100</queueSizeTriggeringBackup>
        <secondsTriggeringBackup>50</secondsTriggeringBackup>
        <backupThreadsExpiry>3600</backupThreadsExpiry>
        <queueSizeTriggeringBackupExpiry>60</queueSizeTriggeringBackupExpiry>
        <logActivity>true</logActivity>
        <queueFullWarningInterval>300</queueFullWarningInterval>
    </systemThreadPoolSettings>
    <extensionThreadPoolSettings>
        <name>Ext</name>
        <coreThreads>4</coreThreads>
        <backupThreads>8</backupThreads>
        <maxBackups>16</maxBackups>
        <queueSizeTriggeringBackup>100</queueSizeTriggeringBackup>
        <secondsTriggeringBackup>50</secondsTriggeringBackup>
        <backupThreadsExpiry>3600</backupThreadsExpiry>
        <queueSizeTriggeringBackupExpiry>60</queueSizeTriggeringBackupExpiry>
        <logActivity>true</logActivity>
        <queueFullWarningInterval>300</queueFullWarningInterval>
    </extensionThreadPoolSettings>
</serverSettings>